@import '../../styles/variables';

.productListItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;

  &:not(:last-child) {
    border-bottom: 1px solid $dark-grey;
    margin-bottom: 1rem;
  }

  img {
    border-radius: 8px;
    object-fit: cover;
  }

  span {
    font-weight: bold;
    font-size: 1.125rem;
    margin: 0.5rem;
  }
}

.productNameAndPrice {
  margin: 0.5rem;
  margin-right: auto;

  h3 {
    font-size: 1.125rem;
    margin: 0;
  }

  p {
    margin: 0;
    margin-top: 0.25rem;
    font-size: 0.825rem;
  }
}
