@import '../../styles/variables';

.productListItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  padding-bottom: 12px;

  &:not(:last-child) {
    border-bottom: 1px solid $dark-grey;
  }

  img {
    width: 65px;
    height: 65px;
    border-radius: 8px;
    object-fit: cover;
  }

  span {
    font-weight: bold;
    font-size: 1.125rem;
    margin: 0.5rem;
  }
}

.productNameAndPrice {
  width: 100%;
  margin: 0.5rem;

  h3 {
    font-size: 1.125rem;
    margin: 0;
  }

  p {
    margin: 0;
    margin-top: 0.25rem;
    font-size: 0.825rem;
  }
}
