@import '../variables';

.hero {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  min-height: 50vh;
  background-color: $light-grey;

  nav {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: $gutter;
  }

  img {
    object-fit: cover;
    object-position: center;
  }
}

.info {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    p {
      color: $primary-accent;
      white-space: nowrap;
    }

    svg {
      vertical-align: middle;
    }

    & + p {
      margin-top: 0px;
    }
  }
}

.buttons {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: $font-semibold;
}

.addToCartButton {
  font-weight: $font-semibold;
  background-color: $primary-accent;
  text-transform: uppercase;
  text-align: center;
  min-height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $gutter;

  &:hover,
  &:focus,
  &:active {
    background-color: lighten($primary-accent, 5%);
  }
}
