@import '../../styles/variables';

.layout {
  display: grid;
  grid-template-columns: $gutter auto $gutter;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  @media (min-width: $lg) {
    grid-template-columns: auto $md auto;
  }
}
