@import '../../styles/variables';

.quantityButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 7rem;

  span {
    font-size: 1.25rem;
    font-weight: bold;
  }

  button {
    width: 38px;
    height: 38px;
    border-radius: 4px;
    font-size: 1.125rem;
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus,
    &:active {
      background-color: lighten($light-grey, 5%);
    }

    &:disabled {
      background-color: $light-grey;
      cursor: default;
    }
  }
}
